{% extends 'admin/master.html' %}
{% import 'admin/lib_questfoll.html' as lib with context %}

{% block head %}
    {# flask-admin 2.x ships select2 under vendor/ and no longer bundles a datepicker. #}
    <link href="{{ url_for('admin.static', filename='vendor/select2/select2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% call lib.form_tag() %}
        {{ lib.render_form_fields(form) }}
        {{ lib.render_form_buttons(return_url) }}
    {% endcall %}
{% endblock %}

{% block tail %}
    <script src="{{ url_for('admin.static', filename='admin/js/form.js') }}"></script>
{% endblock %}
